body {
    background-color: #FFFFFC;
}

.mainnav {
    background-color: #221D23;
    color:white;
    border-left:#F29559 15px solid;
}

.mainnav a, .mainnav a:active, .mainnav a:visited {
    color:white;
}

.mainnav a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    color:white;
}

.mainnav .bi {
    margin-right:5px;
}

#header {
    background-color: #F29559;
}

#headertext {
    background-color: #0075A2;
    color: white;
}

.main-content {
    padding-top: 1%;
    padding-bottom: 1%;
}

.carousel-title {
    background-color: #221D23;
    color: white;
    border-left: 15px solid #F29559;
    padding-left: 5px;
}